body{
    background-color: rgb(255, 188, 188);
    color: rgb(141, 30, 30);
}
h3{
    text-align: center;
}
header{
    background-color: rgb(102, 8, 8);
    color: white;
    margin: 0px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: white;
    margin: 
    padding: ;

}